/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
/categories.xls
/t/logs/
.DS_Store
/t/reporting/2015_06_saving.xls
/mba_app/prod/*.tar.gz
/*.tar.gz
/t/reporting/*
/t/*.cookies.txt
/web-report/public-html/mba-report/json/*.json
